<div class="login-container">
    <h1>Belépés</h1>

    <form (ngSubmit)="login()" class="login-form">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" [formControl]="email">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Jelszó</mat-label>
            <input matInput type="password" [formControl]="password">
            <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>

        @if (loginError) {
            <div class="error-message">
                {{ loginError }}
            </div>
        }

        <button mat-flat-button type="submit" class="primary-button">Belépés</button>
        <button mat-stroked-button [routerLink]="['/register']" class="secondary-button">Nincs még fiókja?</button>
    </form>
</div>
