body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
html, body { height: 100%; }

.primary-button {
    background-color: #023e8a !important;
}

.secondary-button {
    color: #023e8a !important;
    border: 2px solid #023e8a !important;
}

.warning-button {
    background-color: rgb(211, 0, 0) !important;

}